<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>NIX</string>
		<key>avatarURLString</key>
		<string>https://raw.githubusercontent.com/onevcat/Kingfisher/master/images/kingfisher-1.jpg</string>
	</dict>
    <dict>
        <key>username</key>
        <string>NIX B</string>
        <key>avatarURLString</key>
        <string>https://raw.githubusercontent.com/onevcat/Kingfisher/master/images/kingfisher-2.jpg</string>
    </dict><dict>
        <key>username</key>
        <string>NIX C</string>
        <key>avatarURLString</key>
        <string>https://raw.githubusercontent.com/onevcat/Kingfisher/master/images/kingfisher-3.jpg</string>
    </dict><dict>
        <key>username</key>
        <string>NIX D</string>
        <key>avatarURLString</key>
        <string>https://raw.githubusercontent.com/onevcat/Kingfisher/master/images/kingfisher-4.jpg</string>
    </dict><dict>
        <key>username</key>
        <string>NIX E</string>
        <key>avatarURLString</key>
        <string>https://raw.githubusercontent.com/onevcat/Kingfisher/master/images/kingfisher-5.jpg</string>
    </dict><dict>
        <key>username</key>
        <string>NIX F</string>
        <key>avatarURLString</key>
        <string>https://raw.githubusercontent.com/onevcat/Kingfisher/master/images/kingfisher-6.jpg</string>
    </dict><dict>
        <key>username</key>
        <string>NIX G</string>
        <key>avatarURLString</key>
        <string>https://raw.githubusercontent.com/onevcat/Kingfisher/master/images/kingfisher-7.jpg</string>
    </dict><dict>
        <key>username</key>
        <string>NIX H</string>
        <key>avatarURLString</key>
        <string>https://raw.githubusercontent.com/onevcat/Kingfisher/master/images/kingfisher-8.jpg</string>
    </dict>
    <dict>
        <key>username</key>
        <string>NIX I</string>
        <key>avatarURLString</key>
        <string>https://raw.githubusercontent.com/onevcat/Kingfisher/master/images/kingfisher-9.jpg</string>
    </dict>
    <dict>
        <key>username</key>
        <string>NIX J</string>
        <key>avatarURLString</key>
        <string>https://raw.githubusercontent.com/onevcat/Kingfisher/master/images/kingfisher-10.jpg</string>
    </dict>
</array>
</plist>
